torch==1.7.0
torchvision==0.8.1
numpy
sklearn
Cython
h5py
pyzmq
tornado
Pillow
six
scipy
opencv-python
matplotlib
faiss-gpu
easydict
pyyaml
requests
multiprocess
tqdm
timm
albumentations
efficientnet_pytorch
pandas
